nav ul ul {
  display: block !important;
  padding: 0px !important;
}

nav ul ul .animated {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  visibility: visible;
}

nav ul li.open > a {
  color: #c0bbb7 !important;
}

nav ul li a.active {
  color: #fff !important;
}

.sidebar-nav li.active > a {
  color: #fff !important;
}
